rect{
	/* x: 0px;
	y: 0px; */
}
rect.svg{
	/* fill: #ddd; */
	fill: #0d0;
	stroke: #ddd;
	stroke-width: 3;
	opacity: 0.1;
}
rect.boundary{
	/* fill: #0d0; */
	fill: none;
	stroke: #0d0;
	stroke-width: 3;
	/* opacity: 0.3; */
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
}
path{
	opacity: 0.5;
}
g{
	/* z-index: 10; */
}
#player{
	/*z-index: 20;*/
	position:absolute;
	left: 50px;
	top: 50px; 
	opacity:0.7;
	visibility:visible;
}